<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCq5SqfDt57yxnATrw0T3fH8GYNW4tHr6U</string>
	<key>GCM_SENDER_ID</key>
	<string>760961161501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eveningclass-026.Matt-Comer-iOSApp4</string>
	<key>PROJECT_ID</key>
	<string>forgeflow-218c5</string>
	<key>STORAGE_BUCKET</key>
	<string>forgeflow-218c5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760961161501:ios:64bf8711a95bad7f5329f4</string>
</dict>
</plist>